.Title-Box{
    margin-left: 3%;
    width: 40vw;
    height: 5vh;
    font-size: larger;
    border-color: #802bb16d;
    border-radius: 5px;
}

.Subject-Box {
    margin-left: 0.4%;
    width: 40vw;
    height: 5vh;
    font-size: larger;
    border-color: #802bb16d;
    border-radius: 5px;
}
.Description-Box {
    margin-left: 3%;
    margin-top: 1.5%;
    width: 81vw;
    height: 5vh;
    font-size: larger;
    border-color: #802bb16d;
    border-radius: 5px;
}

.box {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    border: solid;
    height: 35vh;
    margin-left: 3%;
    margin-top: 1.5%;
    width: 35vw;
    border-color: #802bb16d;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    opacity: 85%;
}

.custom-file-upload {
    cursor: pointer;
    background-color: #ffffff;
    color: blue;
    border: solid;
    border-color: blue;
    padding: 10px 20px;
    border-radius: 9px;
    
}
.Text-box{
    margin-top: 2.5%;
    color: rgba(0, 0, 0, 0.503);
}
.Upload-Box {
    display: flex;
    align-items: center;
    
}
.uploaded-file-box{
    flex-direction: column;
    border: solid;
    height: 25vh;
    width: 13vw;
    margin-left: 3%;
    margin-top: -3%;
    border-color: #802bb16d;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    opacity: 85%;
}
.Document{
    margin-left: 45%;
    margin-top: 25%;
}
.Document svg {
    width: 48px;
    height: 48px;
    
}
.Post-Button{
    margin-top: 50%;
    height: 7vh;
    color: #ffffff;
    
}