.contact{
    margin-top: 5vh;
    margin-left: 100px;
    display: flex;
}

.contact input{
    text-decoration: none;
    border-bottom-color: #802BB1;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 20px;
    margin: 10px 0px 0px 10px;
}

.contact label{
    font-size: 20px;
}
.contact button{
    background-color: #802BB1; 
    border: none;
    border-radius: 7px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-top: 150px;
    margin-left: 600px; */
    cursor: pointer;
}

.contact button:hover{
    background-color: #ebebeb;
    color: black;
}

.contactsave{
    margin-left: 800px;
    /* margin-top: 200px; */
    /* margin-bottom: 100px; */
}

.save:hover{
    background-color: #ebebeb;
    color: black;
}
/* Add this to your CSS file */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .flex {
    display: flex;
    flex-direction: column;
}

.contact .flex.items-center {
    justify-content: space-between;
}
